@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-font: Roboto, sans-serif;
  --primary-background: white;
  --primary-color: black;
  --primary-border: 2px solid #ccc;
  --primary-box-shadow: 2px 2px 10px 0px #00000033;
  
  font-family: var(--primary-font);
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 500;

  color: black;
  background-color: white;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: var(--primary-color);
  background: var(--primary-background);
  font-family: var(--primary-font);
}

header {
  box-shadow: 2px 2px 10px 0px #00000033;
}

/* On screens that are 650px to 1024px (Tablets & Small Desktops) */
@media (max-width: 1024px) and (min-width: 650px) {

  /*** Header ***/
  :root {
      font-size: calc(1.25 * 62.5%);
  }
}

/* On screens that are 1024px or more (Medium & Large Desktops) */
@media (min-width: 1024px) {

  /*** Header ***/
  :root {
      font-size: calc(1.5 * 62.5%);
  }
}

